<div>
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Autor</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Categorías</th>
                <th>Imagen</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}

                <tr>
                    <td>{{this.product.title}}</td>
                    <td>{{this.product.author}}</td>
                    <td>{{this.product.description}}</td>
                    <td>{{this.product.price}}</td>
                    <td>{{this.product.categories}}</td>
                    <td><img src="{{this.product.thumbnails}}" alt="Portada del libro" height="100"></td>
                    <td>{{this.quantity}}</td>
                </tr>

            {{!-- <div>
                <h2>{{this.title}}</h2>
                <p>{{this.description}}</p>
                <p>{{this.price}}</p>
                <a href="/{{this._id}}">Ir al producto</a>
            </div> --}}

            {{/each}}
        </tbody>
    </table>

    <div>
        {{#if hasPrevPage}}
            <a href="{{prevLink}}">Anterior</a>
        {{/if}}
        {{#if hasNextPage}}
            <a href="{{nextLink}}">Siguiente</a>
        {{/if}}
    </div>
</div>